<h1>$album.getTitle()</h1>
<h3>Congrats, the album $album.getTitle() has been added to your list</h3>

<a href="/album/new"><button class="btn btn-success">New Album</button></a>
<a href="/album"><button class="btn btn-primary">All Albums</button></a>
