<h1>Organize your albums!</h1>
<h2>Welcome! Do you have a lot of CDs? Well, organize them!</h2>

<a href="/tasks/new"><button class="btn btn-info">Add a new album</button></a>
<a href="/tasks"><button class="btn btn-info">View all albums</button></a>
