<p>Add a new album:</p>

<form action="/album" method="post">
  <label for="title">Album title:</label>
  <input id="title" name="title" type="text">

  <button type="submit" class="btn btn-success">Add album</button>
</form>
